html
{
    position: relative;
    min-height: 100%;
    min-width: 100%;
}

body
{
    font-family: 'Lato', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(90, 90, 90);
}

/* NAVBAR */
#default-navbar
{
    padding: 22px 10px;
    background: #fff;
    position: fixed;
    width: 100%;
    z-index: 1030;
}

#default-navbar .navbar-brand
{
    color: rgb(87, 87, 87);
}

#default-navbar .nav-divider
{
    background-color: rgba(255, 255, 255, 0.26);
    margin-top: 0;
    margin-bottom: 0;
}

#burger-btn
{
    border: 1px solid rgb(24, 207, 168);
    background-color: transparent;
    outline: none;
    cursor: pointer;
    color: rgb(24, 207, 168);
    padding: 3px 10px;
    border-radius: 3px;
    font-weight: 100;
}


#close-btn
{
    color: rgb(255, 255, 255);
    position: absolute;
    top: 15px;
    left: 10px;
    cursor: pointer;
    font-weight: 300;
}

.sidenav
{
    /*background: linear-gradient(45deg, rgb(24, 207, 168) 0,rgb(23, 219, 177) 100%);*/
    background-color: rgb(21, 21, 21);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 0;
    z-index: 2000;
    list-style-type: none;
    transition: .5s;
    padding: 112px 0;
}

.sidenav .nav-link
{
    color: #fff;
    padding-top: 12px;
    padding-bottom: 12px; 
    padding-left: 12px;
    padding-right: 12px;
    font-size: 16px;
    font-weight: 300;
    transition: .5s;
}

.sidenav .nav-link:hover
{
    color: rgb(24, 207, 168);
    transition: .4s;
}


/* SECTIONS */
.intro
{
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    min-height: 600px;
}

.headline
{
    padding: 9rem 15px;
}

.footer
{
    display: flex;
    align-items: center;
    margin-top: 50px;
    padding: 100px 15px;
    background-color: rgb(21, 21, 21);
    color: #fff !important;
}

.footer-body
{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.footer p
{
    color: #fff;
    font-size: .75em;
}


/* SECTION SIZES */
.is-fullheight
{
    min-height: 100vh;
}

.is-medium
{
    min-height: 55vh;
}

/* SECTION COLORS */
.is-lighter
{
    background-color: #f7f7f781;
}

/* WRAPPER */
.wrapper
{
    max-width: 994px;
    margin: 0 auto;
    padding-left: 12px;
    padding-right: 12px;
}

/* TEXTS & COLOR */
.title
{
    font-size: 47px;
    font-weight: 600;
}

.subtitle
{
    color: #000;
    font-size: 25px;
}

.small-title
{
    font-size: 16px;
}

p
{
    font-size: 16px;
    color: rgb(97, 96, 96);
    line-height: 29px;
}

.is-light-green
{
    color: rgb(24, 207, 168);
}

/* BUTTON */
.btn-cta
{
    border: 1px solid rgb(24, 207, 168);
    padding: 10px 45px;
    cursor: pointer;
    color: rgb(24, 207, 168) !important;
}

.btn-cta:hover
{
    color: #fff !important;
    background-color: rgb(24, 207, 168);
    transition: .4s;
}

.columns-container
{
    margin-top: 75px;
}

img
{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.img-shadow
{
    box-shadow: 0 8px 33px 0 rgba(0, 0, 0, 0.05);
    margin-bottom: 15px;
}

.gray-scale
{
    filter: grayscale(100%) contrast(1);
}

.centered-vertically
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.m-25
{
    margin-top: 15px;
}



/* SOCIAL LINKS */
.social-list
{
    margin-bottom: 10px;
}

.social-list a
{
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 12px;
    font-size: 18px;
    cursor: pointer;
    color: #fff;
    font-size: 17px;
}

.social-list a:hover
{
    color: rgb(24, 207, 168);
    transition: .5s;
}

/* MEDIA QUERIES */
@media (max-width: 900px)
{
    .intro
    {
        padding-top: 9rem;
        padding-bottom: 9rem;
    }

    .headline
    {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .title
    {
        font-size: 2rem;
    }

    .img-shadow
    {
        margin-bottom: 17px;
    }
}
